.redstar {
    color: var(--red);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.main-box {
    display: flex;
    flex-direction: column;
}

.title-add-task {
    display: flex;
    justify-content: space-evenly;
}

.form-addtask {
    width: 1114px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 62px;
}

.was-validated .form-control:valid {
    background-image: none;
}

.addtask-line {
    width: 1px;
    height: 424px;
    background-color: var(--line);
    flex-shrink: 0;
}

label {
    display: flex;
    color: var(--font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    margin-top: 8px;
}

label p {
    margin: 0;
}

.title-div {
    height: 95px;
}

.dueDate-div {
    height: 70px;
}

.category-div {
    height: 58px;
}

.category {
    position: relative;
    z-index: 4;
    width: 440px;
}

.category::placeholder {
    color: rgba(0, 0, 0, 1)!important;
}

.category-list {
    z-index: 3;
    position: relative;
    padding-top: 6px;
    bottom: 30px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.10);
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
    height: max-content;
    width: 481px;
}

.white-bg {
    background-color: rgba(255, 255, 255, 1);
}

.grey {
    background-color: rgba(238,238,238,1);
}

.category-list-div {
    padding: 12px;
    border-radius: 10px;
    padding-right: 16px;
}

.category-list-div:hover {
    background-color: rgba(238,238,238,1);
}


.select-category-bg {
    background-color: rgba(238,238,238,1);
}

.required-text {
    width: 119px;
    height: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
    color: rgba(255, 129, 144, 1);
    margin-top: 6px;
}

.required-text-date {
    margin-top: 6px;
}

.inputfield {
    display: flex;
    align-items: center;
    padding: 12px 21px;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    background: rgba(255, 255, 255, 1);
    width: 440px;
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
}

.inputfield-focus-red {
    border: 1px solid rgba(255, 129, 144, 1);
}

.inputfield-focus-blue {
    border: 1px solid var(--lightblue);
}

.inputfield-focus-white {
    border: 1px solid rgba(209, 209, 209, 1);
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
    border-color: var(--lightblue);
}

.subtask-input:focus {
    border-color: var(--lightblue);
}

.inputfield::placeholder {
    color: rgba(209, 209, 209, 1);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    display: flex;
    justify-items: center;
    align-items: center;
}

.inputfield-textarea {
    height: 120px;
    margin-bottom: 16px;
}

textarea {
    height: 168px;
}

.prio-btn {
    width: 100%;
    gap: 8px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.prio-btn button {
    padding: 16px 10px;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-style: normal;
    line-height: 120%;
    width: 100%;
    cursor: pointer;
}

.prio-btn button img {
    margin-left: 8px;
}


.prio-urgent .prio-medium .prio-low {
    color: white!important;
}


.prio-urgent {
    background-color: rgba(255,61,0,1);
    color: white!important;
    font-weight: 600;
}

.prio-urgent img {
    filter: contrast(0.1) brightness(100);
}

.prio-medium {
    background-color: rgba(255,168,0,1);
    color: white!important;
    font-weight: 600;
}

.prio-medium img {
    filter: contrast(0.1) brightness(100);
}

.prio-low {
    background-color: rgba(122,226,41,1);
    color: white!important;
    font-weight: 600;
}

.prio-low img {
    filter: contrast(0.1) brightness(100);
}

.prio-urgent:hover {
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
}

.prio-medium:hover {
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
}

.prio-low:hover {
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
}

.prio-notselected {
    color: rgba(0, 0, 0, 1)!important;
    background-color: rgba(255, 255, 255, 1);
    font-weight: 400;
}

.prio-notselected img {
    filter: none;
}

.form-bottom {
    width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 32px;
}

.form-bottom-right {
    display: flex;
    gap: 16px;
    margin-right: 44px;
}

.form-bottom-left {
    display: flex;
    align-items: center;
    padding-top: 32px;
}

.form-bottom-left p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.clear-btn {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: var(--font);
    border-radius: 10px;
    border: 1px solid var(--darkblue);
    background-color: rgba(246, 247, 248, 1);
    gap: 4px;
    height: calc(24px + 32px);
    cursor: pointer;
}

.clear-btn:hover {
    border-color: var(--lightblue);
    color: var(--lightblue);
}

.clear-btn img {
    padding: 4px;
    width: 24px;
    height: 24xpx;
}

.create-task {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    border: 1px solid var(--darkblue);
    background-color: var(--darkblue);
    gap: 4px;
    height: calc(24px + 32px);
    cursor: pointer;
}

.create-task:hover {
    background-color: var(--lightblue);
    border-color: var(--lightblue);
}

.assigned-to {
    position: relative;
    z-index: 4;
    width: 440px;
}

.assigned-list {
    z-index: 3;
    position: relative;
    bottom: 32px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.10);
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
    overflow-y: scroll;
    max-height: 124px;
    width: 481px;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.assigned-button {
    z-index: 2;
    position: relative;
    bottom: 19px;
    padding-left: 8px;
    padding-right: 8px;
    width: 440px;
}

.checkbox-selected {
    filter: brightness(10);
}

.checkbox-none-selected {
    filter: brightness(1.5);
}

.assigned-contact-list-icon {
    height: 32px;
    width: 32px;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid white;
}

.assigned-contact-list {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 2px;
    padding-right: 16px;
}

.assigned-contact-list div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.assigned-contact-list:hover {
    background-color: rgba(238,238,238,1);
}

input[type="checkbox" i] {
    cursor: pointer;
}

.select-contact-blue {
    background-color: rgba(42,54,71, 1);
}

.select-contact-blue:hover {
    background-color: rgba(9,25,49, 1);
}

.white {
    color: white;
}

.dropdown-icon {
    z-index: 4;
    position: relative;
    bottom: 32px;
    left: 445px;
    cursor: pointer;
    padding: 8px;
}

.dropdown-icon:hover {
    border-radius: 100%;
    background-color: rgba(246, 247, 248, 1);
    padding: 8px;
}

.assigned-to::placeholder {
    color: rgba(0, 0, 0, 1);
}

.assigned-to:focus {
    border-color: var(--lightblue);
}

.assigned-to:focus-visible {
    outline: none;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

button:focus-visible {
    outline: none;
}

.date-icon {
    position:relative;
    left: 444px;
    bottom: 34px;
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 16px;
    position: relative;
    left: 316px;
    opacity: 1;
    cursor: pointer;
}

/* .subtask {
    z-index: 4;
    background-image: url(/assets/img/icons/add.svg);
    background-size: 24px 24px;
    background-position: 395px 50%;
    background-repeat: no-repeat;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
} */

.add-icon {
    position: relative;
    bottom: 32px;
    left: 451px;
    height: 12px;
    width: 12px;
    cursor: pointer;
    padding: 5px;
}

.inputfield-icon-hover:hover {
    border-radius: 100%;
    background-color: rgba(246, 247, 248, 1);
    padding: 5px  ;
}

/* .select-category {
    position: relative;
    bottom: 38px;
    left: 404px;
    width: 24px;
    height: 24px;
    padding: 5px;
    cursor: pointer;
}

.select-category:hover {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: rgba(246, 247, 248, 1);
    padding: 5px;
    cursor: pointer;
} */

.subtasks {
    display: flex;
    flex-direction: column;
    height: 104px;
    width: 462px;
    padding-right: 8px;
    padding-left: 8px;
    margin-top: 0;
    gap: 4px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.each-subtask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 4px 8px;
    cursor: pointer;
    width: 444px;
}

.each-subtask:hover {
    background-color: rgba(238,238,238,1);
}

.each-subtask-p {
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
}

.subtask-p::before {
    content: "•";
    color: rgba(0, 0, 0, 1);
    margin-right: 5px;
    font-size: 22px;
    line-height: 1;
    display: flex;
    align-items: center;
}

p.subtask-p {
    margin: 0;
}

.separator-border {
    border-right: 1px solid var(--line);
    border-color: var(--line);
    margin-right: 4px;
}

.separator {
    width: 1px;
    height: 18px;
    background-color: var(--line);
    text-align: center;
    flex-shrink: 0;
    margin: 0 4px;;

}

.subtask-right {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 100%;
}

.subtask-right img {
    height: 16px;
    width: 16px;
    transition: 125ms ease-out;
} 

.clear-check-icons {
    position: relative;
    bottom: 19px;
    left: 214px;
    height: 12px;
    width: 12px;
    cursor: pointer;
    padding: 5px;
    display: flex;
}

.clear-check-line {
    width: 1px;
    height: 18px;
    background-color: var(--line);
}

.subtask-edit {
    padding-left: 0;
}

.editable {
    width: 100%;
    padding: 4px;
    border-color: transparent;
}

.editable-img {
    background-color: transparent;
}

.editable-each {
    background-color: white;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--lightblue);
}

.editable-each:hover {
    background-color: white;
}

.popup-a-to-b {
    z-index: 999;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-a-to-b img {
    width: 326px;
    height: 74px;
}

.h-10 {
    height: 10px;
}