.board-popup-bg {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-popup {
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    display: flex;
    padding: 0;
    margin: 0;
}

.addtask-popup {
    display: flex;
    width: 495px;
    height: calc(100% - 128px);
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 48px 40px;
    justify-content: flex-end;
    align-items: center;
}

.close-popup {
    position: relative;
    top: 64px;
    left: 1035px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.close-a-board {
    z-index: 4;
    position: fixed;
    top: 42px;
    right: 42px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.edit-close-icon {
    position: absolute;
    right: 42px;
    top: 42px;
}

.popup-box {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    padding-left: 32px;
    padding-right: 32px;
}

.board-prio-icons {
    width: 18px;
    height: 18px;
}

.progress-bar {
    border-radius: 10px;
    background-color: rgba(69, 137, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.progress {
    display: flex;
    overflow: hidden;
    background-color: rgba(246,247,248,1);
    border-radius: 10px;
    height: 8px!important;
    width: 148px;
    cursor: pointer;
}

.progress-hover {
    display: none;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.025);
    border: 1px solid rgba(211, 211, 211, 0.2);
    background-color: rgba(246, 247, 248, 1);
    border-radius: 10px;
    padding: 16px;
    margin-top: -16px;
    transition: transform 0.3s;
    height: max-content;
    width: 150px;
    color: black;
    position: absolute; 
    z-index: 1;
    font-size: 12px;
}

.progress_image_Div:hover + .progress-hover {
    display: flex;

}

.board-user-icon {
    margin-inline-end: -16px;
}

.user-popup-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px!important;
    height: 36px;
    border: none;
    border-radius: 8px;
    padding: 4px 16px;
    background-color: #0038FF;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 16px;
}

.tecnical-popup-btn {
    width: 203px;
    height: 36px;
    border-radius: 8px;
    padding: 4px 24px;
    background-color: rgb(31, 215, 193);
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 24px;
}

.popup-title {
    width: 445px;
    max-height: 140px;
    font-family: 'Inter', sans-serif;
    font-weight: 700!important;
    font-size: 61px;
    line-height: 73.2px;
    color: rgba(0, 0, 0, 1);
    padding: 0;
    margin-bottom: 16px;
    overflow-y: scroll;
    scrollbar-width: none;
    margin-bottom: 16px;
    padding-bottom: 16px;
    overflow-wrap: break-word;
}


.popup-text {
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup-prio-icon {
    height: 12px;
}

.popup-task-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.popup-task-footer-section {
    display: flex;
    align-items: center;
    height: 24px;
    gap: 8px;
    padding: 4px;
    cursor: pointer;
}

.popup-subtask {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    gap: 16px;
    overflow-y: auto;
    height: 121px;
    scrollbar-width: thin;
}

.each-subtask-section {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 8px;
}

.each-subtask-section img {
    cursor: pointer;
    padding: 2px;
    width: 22px;
    height: 22px;
    margin-right: 16px;
}

.each-subtask-section div {
    display: flex;
    overflow-wrap: anywhere;
}

.popup-assigned {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-top: 16px;
    gap: 16px;
    height: 116px;
    overflow-y: scroll;
}

.popup-assigned-div {
    margin-top: -28px;
    color: rgba(0, 0, 0, 1);
}

.each-user-section {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 8px;
}

.popup-date {
    margin-bottom: 32px;
}

.popup-prio {
    display: flex;
}

.popup-prio-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.popup-div-assign-date-title {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.popup-div-assign-date-title-content {
    margin-bottom: 32px;
}

.popup-date {
    display: flex;
    justify-content: space-between;
}

.popup-prio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
}

.amount-subtasks {
    height: 14px;
}

.h2-addtask-board {
    margin-top: 14px;
}

.popup-addtask-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1061px;
    gap: 32px;
}

.popup-addtask-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1007px;
    gap: 32px;
    height: 512px;
    margin-top: 32px;
}

.popup-edit {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 14px;
    bottom: 0;
}

.edit-div {
    height: 80%;
    width: 100%;
    position: relative;
    top: 0;
    bottom: 32px;
    margin-top: 120px;
    padding: 16px;
}

.edit-div input textarea div {
    width: 300px!important;
}

.edit-addtask {
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

.ok-btn-edit {
    position: relative;
    bottom: -23px;
    left: 366px;
    cursor: pointer;
}

.assigned-button-b-pos {
    bottom: 17px!important;
}

.no-scrollbar {
    overflow: visible!important;
}

.position-assigned-btn {
    position: relative!important;
    bottom: 13px!important;
}

.subtasks-label {
    margin-top: 0;
}

.user-story-button {
    width: 113px;
    height: 27px;
    border: none;
    border-radius: 8px;
    padding: 4px 16px;
    background-color: #0038FF;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 24px;
}

.technical-button {
    width: 144px;
    height: 27px;
    border-radius: 8px;
    padding: 4px 16px;
    background-color: #1FD7C1;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.silhouette {
    display: none;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.025);
    background-color: rgba(246, 247, 248, 0.9);
    border-radius: 24px;
    padding: 16px;
    margin: 4px;
    margin-bottom: 8px;
    transition: transform 0.3s;
    position: relative;
    border: 2px dashed lightgray;
    height: 182px; 
}

