.board-popup-bg {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-popup {
    width: 1116px;
    height: 870px;
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    display: flex;
}

.addtask-popup {
    width: 525px;
    height: 870px;
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    display: flex;
}

.close-popup {
    position: relative;
    top: 64px;
    left: 1044px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.close-a-board {
    position: relative;
    top: 36px;
    left: 467px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.popup-box {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    padding-left: 32px;
    padding-right: 32px;
}

.board-prio-icons {
    width: 18px;
    height: 18px;
}

.progress-bar {
    border-radius: 10px;
    background-color: rgba(69, 137, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.progress {
    display: flex;
    overflow: hidden;
    background-color: rgba(246,247,248,1);
    border-radius: 10px;
    height: 8px!important;
    width: 128px;
}

.board-user-icon {
    margin-inline-end: -16px;
}

.user-popup-btn {
    width: 160px;
    height: 36px;
    border: none;
    border-radius: 8px;
    padding: 4px 16px;
    background-color: #0038FF;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 24px;
}

.tecnical-popup-btn {
    width: 203px;
    height: 36px;
    border-radius: 8px;
    padding: 4px 24px;
    background-color: rgb(31, 215, 193);
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 24px;
}

.popup-title {
    width: 445px;
    height: 219px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
    color: rgba(0, 0, 0, 1);
}


.popup-text div {
    width: 445px;
    height: max-content;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

