.main_container {
    height: 1024px;
}

.main_div {
    width: 1121px;
}

.board-window {
    overflow-x: hidden;
    margin-left: 320px;
    margin-bottom: 32px;
}

.info_Div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
}

.info_Div h1 {
    color: #000000;
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.input_button_Div {
    display: flex;
    gap: 32px;
    align-items: center;
}

.input-searchfield {
    background-image: url(../assets/img/icons/Frame\ 122.png);
    background-size: 48px 32px;
    background-repeat: no-repeat;
    background-position: calc(100% - 21px) center;
    width: 280px;
    height: 32px;
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    position: relative;
}

.input-searchfield:hover {
    background-image: url(../assets/img/icons/Frame\ 122.png);
}

.add-task-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    height: 48px;
    border-radius: 10px;
    padding: 8px 16px;
    border: 1px solid #2A3647;
    background-color: #2A3647;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    gap: 4px;
    cursor: pointer;
}

.add-task-btn:hover {
    background-color: #29ABE2;
    border: 1px solid #29ABE2;
}

h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #42526E;
}

.adding_div {
    width: 1121px;
    display: flex;
    gap: 48px;
}

.board_div {
    width: 245px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}

.adding_Button {
    width: 25px;
    height: 24px;
    border: 2px solid #2A3647;
    border-radius: 8px;
    color: #2A3647;
    cursor: pointer;
    font-size: 16px;
}

.adding_Button:hover {
    border: 2px solid #29ABE2;
    color: #29ABE2;
}

.card_mainContainer {
    width: 1121px;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    position: relative;
}

.card_Div {
    width: 246px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 32px;
    position: relative;
}  

.Card_NotasksTodo {
    display: none;
    height: 48px;
    border: 3px dotted rgb(168, 168, 168, 0.4);
    background-color: #E7E7E7;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #A8A8A8;
    font-size: 16px;
    font-weight: 400;
}

.progress_card {
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.025);
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 16px;
    cursor: pointer;
    margin: 4px;
    margin-bottom: 8px;
    transition: transform 0.3s;
    height: max-content;
    position: relative;
}

.progress_infocard {
    width: 200px;
    height: max-content;
}

.cooking_title_div {
    width: 220px;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}

.cooking_title_div h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #2A3647;
    cursor: pointer;
    overflow-wrap: anywhere;
    margin-right: 16px;
}

.recipe_span {
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #A8A8A8;
    overflow-wrap: break-word;
    height: fit-content;
    margin-right: 16px;
}

.progress_image_Div {
    width: 200px;
    height: 16px;
    margin-bottom: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    color: rgba(0, 0, 0, 1);
}

.Members_Div {
    width: 200px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_Feedback_div {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 16px;
    cursor: pointer;
    margin-bottom: 16px;
}

.main_Feedback_Infodiv {
    width: 220px;
    height: 183px;
}

.feedback_TitleDiv {
    width: 220px;
    height: 84px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.feedback_TitleDiv h1 {
    font-size: 16px;
    font-weight: 700;
    color: #2A3647;
    line-height: 19px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.feedback_TitleDiv span {
    font-size: 16px;
    font-weight: 400;
    color: #A8A8A8;
    line-height: 19px;
}  


.main_Feedback_secondDiv{
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 16px;
    cursor: pointer;
} 

.main_Feedback_secondInfoDiv{
    width: 220px;
    height: 164px;
}

.Feedback_secondInfoDivbutton{
    width: 113px;
    height: 27px;
    border: none;
    border-radius: 8px;
    padding: 4px 16px;
    background-color: #0038FF;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 24px;
} 

.dailyRecipeDiv{
    width: 220px;
    height: 84px;
    display: flex;
    flex-direction: column;
    gap: 8px;
} 
     
.dailyRecipeDiv h1{
    font-size: 16px;
    font-weight: 700;
    color: #2A3647;
    line-height: 19px;
    margin-block-start: 0;
    margin-block-end: 0;
}  

.dailyRecipeDiv span{
    font-size: 16px;
    font-weight: 400;
    color: #A8A8A8;
    line-height: 19px;
} 

.main_donediv{
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 16px;
    cursor: pointer;
} 

.doneInfo_Div{
    width: 220px;
    height: 212px;
} 

.technical_Donebutton{
    width: 144px;
    height: 27px;
    border-radius: 8px;
    padding: 4px 16px;
    background-color: #1FD7C1;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 24px;
}  

.done_titleInfo{       
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
} 

.done_titleInfo h1{
    font-size: 16px;
    font-weight: 700;
    color: #2A3647;
    line-height: 19px;
    margin-block-start: 0;
    margin-block-end: 0;
} 
      
.done_titleInfo span{
    font-size: 16px;
    font-weight: 400;
    color: #A8A8A8;
    line-height: 19px;
} 

.progres_img{
    margin-bottom: 24px;
}

.popup-boardAddTask {
    z-index: 4;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-boardAddTask img {
    width: 326px;
    height: 74px;
}

.rotate {
    transform: rotate(45deg);
}

.no-results {
    display: none;
    position: relative;
    top: 67px;
    left: 12px;
    width: 119px;
    height: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
    color: rgba(255, 129, 144, 1);
    margin-top: 6px;
}