.help {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75%!important;
    overflow: scroll;
    width: 100%;
    height: calc(100% - 206px);
    margin-top: 206px;
    margin-left: 328px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: scroll;
    scrollbar-width: none;
}

h3 {
    margin-bottom: 24px!important;
    margin-top: 24px!important;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

ol li {
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

li {
    padding-left: 35px;
}

.back-arrow-btn {
    height: 37px;
    width: 37px;
    position: absolute;
    top: 230px;
    right: 100px;
    border-radius: 100%;
}

.back-arrow-btn:hover {
    transform: scale(1.1);
    background-color: #f0f0f0;
    cursor: pointer;
}

span {
    color: #43B5E5;
}

h4 {
    margin: 0;
}

.help p {
    margin-bottom: 0px;
    margin: 0;
}