.legal-notice {
    padding-right: 100px;
    width: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    position: fixed;
    top: 0;
    bottom: 0;
    height: calc(100% - 140px);
    margin-top: 144px;
    margin-left: 328px;
    margin-bottom: 88px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: scroll;
    scrollbar-width: none;
}

.legal-notice p {
    margin-bottom: 24px!important;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

span {
    color: #43B5E5;
}

.legal-notice h3 {
    margin-bottom: 24px!important;
    margin-top: 24px!important;
    margin: 0;
    font-size: 27px;
    color: black;
}

.legal-notice h4 {
    margin: 0;
}

.legal-notice ul {
    padding-left: 35px;
    margin-bottom: 16px;
}

@media(max-width: 1360px) {
    .legal-notice {
        margin-top: 112px;
        margin-left: unset;
        margin-bottom: 88px;
        width: 94%;
        padding-left: 16px;
        padding-right: 16px;
    }

    .legal-notice h2 {
        font-size: 47px;
    }
}