.legal-notice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-right: 100px;
    width: 75%!important;
    overflow: scroll;
    overflow-x: hidden;
}

.legal-notice p {
    margin-bottom: 24px;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

span {
    color: #43B5E5;
}

h3 {
    margin: 0;
    margin-top: 30px;
}

h4 {
    margin: 0;
}

.back-arrow-btn {
    height: 37px;
    width: 37px;
    position: absolute;
    top: 230px;
    right: 100px;
    border-radius: 100%;
}

.back-arrow-btn:hover {
    transform: scale(1.1);
    background-color: #f0f0f0;
    cursor: pointer;
}
