.add-contact-btn-mobile {
    display: none;
    z-index: 1;
    position: fixed;
    bottom: calc(80px + 42px);
    right: 42px;
    width: 64px;
}

@media(max-width: 1360px) {
    nav {
        display: none;
    }

    .menubar {
        display: none;
    }

    .dialog-bg {
        z-index: 3;
    }

    .dialog {
        margin-left: 230px;
        width: 367px !important;
        height: 363px;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 160px;
        margin: 0;
        border-end-end-radius: 30px;
        border-end-start-radius: 30px;
        border-start-start-radius: 0;
        border-start-end-radius: 0;
        z-index: 2;
    }

    .headline {
        position: fixed;
        left: 460px !important;
    }

    .team-headline {
        width: 250px;
        font-size: 16px;
    }

    .close-img-mobile {
        display: block;
        position: relative;
        top: -69px;
        right: -272px;
    }

    .add-contact-main {
        position: relative;
        top: -303px;
        width: 271px;
        height: 171px;
        border-end-start-radius: 0;
        border-start-start-radius: 30px;
        border-start-end-radius: 30px;
    }

    .set-position {
        position: relative;
        bottom: -8px;
        left: -19px;
    }

    .add-contact-headline {
        font-size: 40px;
    }

    .add-contact-text {
        font-size: 17px;
    }

    .blue-underline {
        width: 77px;
    }

    .join-img {
        display: none;
    }

    .add-contact-data {
        position: relative;
        bottom: 217px;
        right: 101px;
    }

    .edit-contact-data {
        position: relative;
        bottom: 310px;
        right: 10px;
    }

    .input-con-main {
        height: 55px;
    }

    .input-con {
        width: 300px !important;
        height: 10px;
    }

    .person-con {
        position: relative;
        bottom: 416px;
        left: 178px;
    }

    .person-con-edit {
        position: relative;
        bottom: 518px;
        left: 250px;
    }

    .add-contact-btns {
        margin-top: 10px;
        margin-left: 42px;
        gap: 0;
    }

    .input-svg-pos {
        position: relative;
        bottom: 31px;
        left: 310px;
    }

    .close-img-con {
        display: none;
    }

    .close-img-con-mobile {
        display: block !important;
        position: fixed;
        top: 120px;
        right: 15px;
        width: 40px !important;
        height: 40px !important;
    }

    .added-contacts {
        /* position: relative;
        left: -233px; */
        left: 0 !important;
    }

    .contact-info-con {
        position: relative;
        right: 213px;
        top: 354px;
        z-index: -1;
        padding-top: 0;
        padding-left: 0;
    }

    .cancel-btn-edit {
        display: none;
    }

    .cancel-btn-edit {
        position: relative;
        display: flex;
        padding: 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        border: 1px solid var(--Version-2-main-color, #2A3647);
        color: var(--Version-2-main-color, #2A3647) !important;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        cursor: pointer;
        height: 50px;
        width: 79pxpx;
        background-color: white;
    }

    .cancel-btn-edit:hover,
    .cancel-btn-edit:hover .cancel-btn-img .cancel-txt-fix:hover,
    .cancel-btn-edit:hover .cancel-btn-text {
        color: #2AACE2 !important;
        border-color: #2AACE2;
    }

    .cancel-txt-fix {
        z-index: 100;
    }

    .cancel-btn-edit::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 4px;
        background: rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        opacity: 0;
        z-index: 1;
        width: 79px;
        color: #2AACE2;
    }

    .cancel-btn-edit:hover::after {
        opacity: 1;
        width: 130px;
        color: #2AACE2;
    }

    .cancel-btn-edit:hover .cancel-btn-text {
        color: #2AACE2 !important;
        border-color: #2AACE2;
        width: 130px;
    }

    .close-img-con {
        display: none;
    }

    .cancel-btn {
        display: none;
    }

    .create-contact-btn {
        position: relative;
        left: 29px;
    }

    .contact-info-slider {
        position: fixed;
        top: 180px !important;
        left: 220px;
        z-index: 99999 !important;
    }

    .person-img {
        position: relative;
        right: 38px;
        bottom: 6px;
    }

    .close-img {
        display: none;
    }
}

@media(max-width: 1200px) {
    .contact-info-slider {
        z-index: -1;
    }

    .back-arrow-mobile {
        position: relative;
        right: 21px;
    }

    .name {
        font-size: 32px;
    }
}

@media(max-width: 1000px) {
    .headline {
        font-size: 32px;
    }
}

@media(max-width: 860px) {
    body {
        overflow: unset;
        /* need overflow for board & addtask :)*/
    }

    .name {
        font-size: 32px;
        font-weight: 600;
        padding-bottom: 0;
    }

    .menubar-text {
        display: none;
    }

    .helpa {
        display: none;
    }

    .add-contact-btn-con {
        display: none;
    }

    .all-contacts {
        margin-top: 126px;
        gap: 6px;
    }

    .added-contacts {
        width: 100%;
        left: 0;
        right: 0;
    }

    .contact-line-color {
        width: 100%;
    }

    .focus-main {
        width: 90%;
        padding-left: 30px;
    }

    .letter-con {
        width: 100%;
        padding-left: 73px;
    }

    .contact-line {
        width: 80%;
    }

    header {
        height: 40px;
        padding: 20px 40px 20px 370px;
    }

    .user-img-contact-list {
        width: 40px;
    }

    .contact-list-name {
        font-size: 18px;
    }

    .contact-list-email {
        font-size: 18px;
    }

    .contact-con-pos {
        width: 93%;
    }

    .contact-info-con {
        width: 100%;
        height: 100%;
        background-color: #F6F7F8;
        position: fixed;
        top: 100px;
        right: 0;
        bottom: 0;
        z-index: 1;
        padding: 0;
    }

    .headline {
        font-size: 42px;
        position: fixed;
        top: 140px;
        left: -42px !important;
        gap: 8px;
        display: flex;
        flex-direction: column;

    }

    .team-headline {
        position: fixed;
        top: 186px;
        left: 20px;
        font-size: 18px;
    }

    .vertical-line {
        width: 80px;
        height: 3px;
        position: fixed;
        top: 220px;
        left: 23px;
    }

    .slider-main-content {
        position: fixed;
        left: -278px;
        top: 58px;
    }

    .slider-content-top {
        gap: 22px;
    }

    .slider-content-mid {
        margin-bottom: 10px;
        margin-top: 10px;
        height: 0;
    }

    .slider-contact-img {
        height: 70px;
        width: 70px;
        margin-top: 0;
    }

    .back-arrow-mobile {
        position: fixed;
        top: 141px;
        right: 10px;
        z-index: 999999;
    }

    .add-contact-btn-mobile {
        display: block;
        z-index: 1;
        position: fixed;
        bottom: 100px;
        right: 5px;
        width: 64px;
        cursor: pointer;
    }

    .edit-delete-btn-con {
        display: none;
    }

    .contact-edit-btn-mobile {
        display: block;
        z-index: 3;
        position: fixed;
        bottom: 100px;
        right: 225px;
        width: 64px;
        cursor: pointer;
    }

    .contact-edit-btn-mobile img:hover {
        background-color: #2AACE2;
        border: none;
    }

    .slide-in-menu-mobile {
        z-index: 4;
        background-color: white;
        padding: 6px;
        position: fixed;
        width: 83px;
        height: 63px;
        right: 225px;
        bottom: 92px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        display: block;
        font-size: 14px;
    }

    .mobile-menu-btns-main {
        position: relative;
        top: 10px;
        cursor: pointer;
    }

    .mobile-menu-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 6px;
    }

    .mobile-edit-img {
        margin-right: 8px;
        width: 16px;
        position: relative;
        left: -5px;
    }

    .mobile-delete-img {
        margin-right: 6px;
        width: 20px;
    }

    .edit-txt {
        position: relative;
        left: -7px;
    }

    .contact-info-slider {
        z-index: -1 !important;
    }

    .z-index {
        display: block;
        z-index: 2;
    }
}

.slide-in-mobile {
    animation: slideInFromBottom 0.5s forwards;
}

.slide-out-mobile {
    animation: slideOutToBottom 0.5s forwards;
}


@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideOutToBottom {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}

.slide-in-mobile-info {
    display: block;
    /* animation: slideInFromRightSide 0.5s forwards; */
}

.slide-out-mobile-info {
    display: block;
    /* animation: slideOutToRightSide 0.5s forwards; */
}


@keyframes slideInFromRightSide {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOutToRightSide {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}