@media(max-width: 1505px) { 
    .main_div {
        width: 100%;
    }

    .card_mainContainer {
        width: 100%;
        gap: 16px;
    }

    .Card_NotasksTodo {
        width: 220px;
    }

    .board_div {
        margin-top: 8px;
        width: 233px;
    }

    .info_Div {
        width: 100%;
        margin-right: 32px;
    }

    .mobile-done-boardcard {
        margin-right: 16px;
    }

    .mobile-search-board {
        margin-right: 32px;
    }
}

@media(max-width: 1360px) {
    .mobile-board-header h2 {
        margin-left: 16px;
    }

    .main_div {
        width: 100%;
    }

    .info_Div {
        width: 100%;
    }

    .board-window {
        margin-right: 32px;
        margin-bottom: 44px;
        position: fixed;
        z-index: -2;
    }

    .info_Div h1 {
        font-size: 47px;
        margin-left: 16px;
    }

    .card_mainContainer {
        width: 100%;
        padding-left: 32px;
    }

    .mobile-done-boardcard {
        margin-right: 32px;
    }

    .silhouette {
        width: 180px;
        height: 200px; 
    }
}

@media(max-width: 1200px) {     
    .card_mainContainer {
        display: flex;
        flex-direction: column;
    }

    .card_Div {
        display: flex;
        flex-direction: row;
        min-height: 58px;
        max-height: fit-content;
        width: 95%;
        overflow-x: scroll;
        gap: 25px;
    }

    .Card_NotasksTodo {
        width: 100%;
    }

    .board_div {
        width: 100%;
        margin-left: 4px;
    }

    .adding_Button {
        width: 30px;
        height: 30px;
        border-radius: 10px;
        font-size: xxx-large;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px;
        font: icon;
        margin-right: 16px;
    }

    h3 {
        font-size: 27px;
    }

    .add-task-btn {
        display: none;
    }

    .input-searchfield {
        width: 100%;
        margin-left: 32px;
        margin-right: 16px;
    }

    .mobile-search-board {
        width: 100%;
    }

    .info_Div {
        flex-direction: column;
        margin-bottom: 0;
    }

    .mobile-board-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
    }

    .mobile-add-task-board {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        border: 2px solid rgba(42, 54, 71, 1);
        background-color: rgba(42, 54, 71, 1);
        font: icon;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
        font-size: 37px;
        font-weight: 400;
        margin-right: 32px;
    }

    .mobile-mgr-boardcard {
        padding-right: 32px;
    }

    .popup-addtask-form {
        width: unset;
    }

    .board-popup {
        width: 100%;
        height: 100%;
        border-radius: unset;
    }
}

@media(max-width: 1128px) {
    .popup-box {
        width: 100%;
        height: calc(100% - 98px);
        padding-left: 16px;
        padding-right: unset;
        align-items: flex-start;
        margin-top: 32px;
    }

    .popup-addtask-main {
        width: 100%;
        height: 72vh;
        margin-top: unset;
        overflow-y: scroll;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .close-popup {
        position: absolute;
        top: 32px;
        right: 64px;
        left: unset;
    }

    .popup-addtask-form {
        position: absolute;
        bottom: 32px;
        width: 100%;
        justify-content: space-evenly;
        gap: 4px;
    }

    .mobile-board-popup-add-task {
        width: 100%;
        height: calc(100% - 96px);
    }

    .h2-addtask-board {
        margin-left: 32px;
    }
}

@media(max-width: 860px) {
    .addtask-popup {
        width: 440px;
    }

}

@media(max-width: 500px) {
    .popup-box {
        padding-left: unset;
        padding-right: unset;
    }

    .close-popup {
        right: 32px;
        left: unset;
    }

    .h2-addtask-board {
        margin-left: 16px;
    }

    .amount-subtasks {
        width: 32px;
    }

    .addtask-popup {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        justify-content: unset;
        align-items: unset;
        border-radius: unset;
        padding-left: unset;
        padding-top: unset;
        padding: unset;
    }

    .popup-text {
        width: 100%;
        justify-content: space-between;
    }

    .close-a-board {
        position: absolute;
        top: 32px;
        right: 32px;
    }

    .user-popup-btn {
        margin-left: 32px;
        margin-top: 32px;
    }

    .popup-title {
        margin-left: 32px;
    }

    .overflow {
        margin-left: 32px;
    }

    .popup-div-assign-date-title {
        margin-left: 32px;
    }

    .popup-assigned-div {
        margin-left: 32px;
    }

    .popup-assigned {
        margin-left: 32px;
    }
    
    .popup-subtask {
        margin-left: 32px;
    }

    .mobile-subtask-board {
        margin-left: 32px;
    }

    .ok-btn-edit {
        position: fixed;
        bottom: 32px;
        right: 32px;
        left: unset;
    }

    .popup-task-footer {
        width: unset;
        margin-right: 32px;
        margin-bottom: 32px;
    }

    .edit-div {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: unset;
    }

    .progress_card {
        padding: 12px;
        width: 170px;
    }

    .c1 {
        font-size: 14px;
    }

    .user-story-button {
        width: 100px;
    }

    .technical-button {
        width: 124px;
    }

    .cooking_title_div h1 {
        font-size: 14px;
    }

    .recipe_span {
        font-size: 12px;
    }

    .amount-subtasks {
        font-size: 10px;
    }

    .progress_infocard button div {
        width: 170px;
    }

    .cooking_title_div {
        width: 170px;
    } 

    .progress_image_Div {
        width: 170px;
    }

    .Members_Div {
        width: 164px;
    } 

    .progress {
        width: 100px;
    }

    .board-user-icon {
        width: 22px;
        height: 22px;
    }

    .board-prio-icons {
        width: 16px;
        height: 16px;
    }

    .card_Div {
        gap: 12px;
    } 

    .input-searchfield {
        font-size: 12px;
    }

    .input-searchfield::placeholder {
        font-size: 12px;
    }

    .mobile-add-task-board {
        width: 32px;
        height: 32px;
    }

    .card_mainContainer h3 {
        font-size: 22px;
    }

    .Card_NotasksTodo {
        border: 2px dotted rgb(168, 168, 168, 0.4);
        font-size: 12px;
    }

    .popup-title {
        font-size: 32px;
        line-height: 48px;
    }

    .overflow {
        font-size: 14px;
    }

    .popup-div-assign-date-title div {
        font-size: 14px;
    }

    .popup-assigned-div {
        font-size: 14px;
    }

    .popup-assigned div {
        font-size: 14px;
    }

    .mobile-subtask-board {
        font-size: 14px;
    }

    .popup-subtask {
        font-size: 14px;
    }

    .popup-task-footer {
        font-size: 14px;
    }

    .each-subtask {
        font-size: 14px;
    }
}

@media(max-width: 390px) {
    .popup-title {
        width: 288px;
    }

    .overflow {
        margin-left: 32px;
        margin-right: 32px;
    }

    .each-subtask-section img {
        width: 16px;
        height: 16px;
    }

    .edit-div {
        padding-left: 4px;
    }
}