.main-window {
    padding-right: 100px;
    width: 80%;
}

h2 {
    margin-bottom: 30px;
}

h3 {
    margin: 0;
}

.back-arrow-btn {
    height: 37px;
    width: 37px;
    position: absolute;
    top: 230px;
    right: 100px;
    border-radius: 100%;
}

.back-arrow-btn:hover {
    transform: scale(1.1);
    background-color: #f0f0f0;
    cursor: pointer;
}

