* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.contaner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

body {
    background-color: #F6F7F8;
}

::placeholder {
    color: #D1D1D1;
}

/* .............. nav start ............................. */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 67px;
}

.signup-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.anim_div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: #FFFFFF;
}

.startParDiv {
    position: absolute;
    background-color: #FFFFFF;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: 33;
}

.startParImg {
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 0;
    opacity: 1;
    top: 40%;
    left: 40%;
    width: 400px !important;
    height: 250px;
    z-index: 34;
    fill: #2A3647;
}

.addAnimDiv {
    animation: animDiv 3s;
    animation-delay: 2s;
    animation-iteration-count: 1;
}

.animation {
    animation: animImg 3s;
    animation-delay: 2s;
}

@keyframes animImg {
    from {
        top: 40%;
        left: 40%;
        width: 400px;
        height: 250px;
    }

    to {
        width: 205px;
        height: 120px;
        top: 80px;
        left: 17px;
        animation-play-state: paused;
        fill: #2A3647;
    }
}

@keyframes animDiv {
    from {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
    }

    to {
        opacity: 0;
        top: 0;
        left: 0;
    }
}

.join_image {
    width: 100px;
    position: absolute;
    top: 80px;
    left: 70px;
    fill: #2A3647;
}

/* .join_image.paused {
    animation-play-state: paused;
} */

/* .anim_div.paused {
    animation-play-state: paused;
} */

.join-info {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    cursor: default;
    font-family: 'Inter';
}

.signup-button {
    display: flex;
    width: 91px;
    height: 49px;
    padding: 15px, 16px, 15px, 16px;
    border-radius: 8px;
    background: #2A3647;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: 'Inter';
}

.signup-button:hover {
    background-color: #29ABE2;
    cursor: pointer;
}

/* .............. nav end ............................. */

/* .............. login star ............................. */

/* .parent_loginDiv {} */

.loginDiv {
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    max-width: 653px;
    margin: 143px auto;
    padding: 48px 115px;
    background-color: #ffffff;
    border-radius: 30px;
    margin-bottom: 190.5px;
}

.block_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.flexb_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.min_line {
    height: 3px;
    width: 150px;
    background-color: #29ABE2;
}

.title {
    font-family: Inter;
    font-size: 61px;
    font-weight: 700;
    line-height: 73px;
    color: #000000;
}

.main-login {
    width: 422px;
    height: 196px;
    margin-bottom: 32px;
}

.password_login {
    width: 422px;
    height: 152px;
}

.input_email {
    background-image: url(../assets/img/anmeldung\ Image/mail.png);
    background-size: 21px 21px;
    background-repeat: no-repeat;
    background-position: calc(100% - 21px) center;
    width: 422px;
    height: 48px;
    padding: 12px 21px;
    border: 1px solid;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: #D1D1D1;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    font-family: 'Inter';
}

.margin-bottom-login {
    margin-bottom: 24px;
}

.margin-top-login {
    margin-top: 6px;
}

.input_email:focus {
    outline: 2px solid #29ABE2;
}

.input-error-login-email {
    font-size: 12px;
    color: red;
    position: relative;
    top: -9px;
}

.input-error-login-pw {
    font-size: 12px;
    color: red;
    position: relative;
    top: -38px;
}

.d-none {
    display: none;
}

.input_password {
    width: 422px;
    height: 48px;
    padding: 12px 21px;
    border: 1px solid;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: #D1D1D1;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    font-family: 'Inter';
}

.passwordImage {
    position: relative;
    top: -45px;
    right: -377px;
    cursor: pointer;
}

.input_password:focus {
    outline: 2px solid #29ABE2;
}

.checkbox_input {
    border-radius: 3px;
    width: 24px;
    height: 24px;
}

.block_Remember {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    width: 422px;
    height: 24px;
    padding: 22px 42px;
    border-radius: 15px;
}

.span_remember {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #000000;
    cursor: default;
    font-family: 'Inter';
}

.block_btn {
    /* width: 345px; */
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.button_login {
    width: 110px;
    height: 48px;
    border-radius: 8px;
    padding: 15px 24px;
    background-color: #2A3647;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Inter';
}

.button_login:hover {
    background-color: #29ABE2;
    border: none;
    cursor: pointer;
}

.second_button_login {
    width: 177px;
    height: 48px;
    border: 1px solid;
    border-radius: 8px;
    padding: 15px 23px;
    background-color: #FFFFFF;
    color: #2A3647;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.2;
    /* Hier wurde die Einheit korrigiert */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-family: 'Inter';
}

.second_button_login:hover {
    color: #29ABE2;
    border-color: #29ABE2;
}

.footer {
    width: 246px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: auto;
}

.Privacy_div {
    width: 121px;
    height: 35px;
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.legal_notice {
    width: 109px;
    height: 35px;
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.aLink {
    font-family: Inter;
    color: #A8A8A8;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.aLink:hover {
    color: #29ABE2;
}

.passwordImageError {
    position: relative;
    top: -62px;
    right: -377px;
    cursor: pointer;
}

@media(max-width: 390px) {
    body {
        background-color: #F6F7F8;
        position: fixed;
        left: 0px;
        right: 0px;
        height: 100vh;
    }

    .startParImg {
        position: absolute;
        fill: #ffffff !important;
        top: 80px;
        right: 0;
        bottom: 0;
        opacity: 1;
        top: 40%;
        left: 0;
        width: 120px;
        height: 100px;
        z-index: 34;
    }

    .join_image {
        position: absolute;
        top: 22px;
        left: 38px;
        width: 64px;
        fill: #2A3647;
    }

    .animation {
        animation: animImg 3s;
        animation-delay: 2s;
    }

    @keyframes animImg {
        from {
            top: 40%;
            left: 30%;
            right: 40%;
            width: 122px;
            height: 100px;
            fill: #ffffff !important;
        }

        to {
            width: 110px;
            height: 77.2px;
            top: 23px;
            left: 15px;
            animation-play-state: paused;
            fill: #2A3647;
        }
    }

    .addAnimDiv {
        animation: animDiv 3s;
        animation-delay: 2s;
        animation-iteration-count: 1;
    }

    @keyframes animDiv {
        from {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
        }

        to {
            opacity: 0;
            top: 0;
            left: 0;
        }
    }

    .startParDiv {
        background-color: #2A3647;
    }

    .loginDiv {
        height: 515px;
        margin-top: 77px;
    }

    .signup-div {
        position: absolute;
        top: 778px;
        left: 70px;
        gap: 35px;
        margin-top: -56px;
    }

    .title {
        font-size: 40px;
        align-items: center;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .min_line {
        height: 3px;
        width: 80px;
        background-color: #29ABE2;
    }

    .main-login {
        max-width: 332px;
        height: 196px;
        margin-bottom: 62px;
    }

    .input_email,
    .input_password {
        max-width: 78%;
        background-position: calc(100% - 15px);
    }

    .errorMessage {
        position: absolute;
        top: 419px;
        left: 30px;
    }

    .passwordImage {
        position: relative;
        top: -45px;
        right: -294px;
        cursor: pointer;
    }

    .block_btn {
        flex-direction: column;
        gap: 21px;
    }

    .button_login,
    .second_button_login {
        width: 180px;
        height: 51px;
    }

    .footer {
        position: absolute;
        top: 800px;
        right: 0;
        left: 0;
    }
}