@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    max-width: 1440px;
    height: 1024px;
    background-color: #F6F7F8;
    margin-left: 77px;
}

.image_box {
    margin-top: 80px;
    margin-left: 77px;
}

.join_picture {
    width: 100.03px;
    height: 121.97px;
}

.main_div {
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    background-color: white;
    max-width: 598px;
    margin: 0 auto;
    border-radius: 30px;
    padding: 48px 88px;
    margin-bottom: 197px;
}

.backLogin_pictureBox {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
}

.backLogin_picture:hover {
    background-color: #c4c4c4;
    width: 32px;
    height: 32px;
    border-radius: 32px;
}

.backLogin_picture {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.title_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
    cursor: default;
}

h1 {
    width: 315px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Inter';
}

.line {
    width: 150px;
    border: 1px solid;
    color: #29ABE2;
}

.main_signUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}

.second_signUp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 18.5px;
}

.person_input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

::placeholder {
    color: #D1D1D1;
}

.name_input {
    background-image: url(../assets/img/anmeldung\ Image/person.png);
    background-size: 21px 21px;
    background-repeat: no-repeat;
    background-position: calc(100% - 21px) center;
    line-height: 24px;
    font-weight: 400;
    font-size: 20px;
    font-family: Inter;
    background-color: #FFFFFF;
    padding: 12px 21px;
    display: flex;
    width: 380px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    font-family: 'Inter';
}

.name_input:focus {
    outline: 2px solid #29ABE2;
}

.email_inputBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.email_input {
    background-image: url(../assets/img/anmeldung\ Image/mail.png);
    background-size: 21px 21px;
    background-repeat: no-repeat;
    background-position: calc(100% - 21px) center;
    line-height: 24px;
    font-weight: 400;
    font-size: 20px;
    font-family: Inter;
    background-color: #FFFFFF;
    padding: 12px 21px;
    display: flex;
    width: 380px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    font-family: 'Inter';
}

.email_input:focus {
    outline: 2px solid #29ABE2;
}

.input-error-existing-email {
    font-size: 14px;
    color: red;
    position: relative;
    top: -229px;
}

.password_inputBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.password_input {
    /* background-image: url(/assets/img/anmeldung\ Image/lock.png);
    background-size: 21px 21px;
    background-repeat: no-repeat;
    background-position: calc(100% - 21px) center; */
    line-height: 24px;
    font-weight: 400;
    font-size: 20px;
    font-family: Inter;
    background-color: #FFFFFF;
    padding: 12px 21px;
    display: flex;
    width: 380px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    font-family: 'Inter';
}

.passwordBlock {
    margin-left: 379px;
    margin-top: -43px;
    cursor: pointer;
}

.password_input:focus {
    outline: 2px solid #29ABE2;
}

.confirm_passwordBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.confirmpassword {
    /* background-image: url(/assets/img/anmeldung\ Image/lock.png);
    background-size: 21px 21px;
    background-repeat: no-repeat;
    background-position: calc(100% - 21px) center; */
    line-height: 24px;
    font-weight: 400;
    font-size: 20px;
    font-family: Inter;
    background-color: #FFFFFF;
    padding: 12px 21px;
    display: flex;
    width: 380px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
}

.confirmBlock {
    margin-left: 379px;
    margin-top: -35px;
    cursor: pointer;
}

.confirmpassword:focus {
    outline: 2px solid #29ABE2;
}

.margin {
    margin-bottom: 24px;
}

.margin-privacy {
    margin-bottom: 32px;
}

.margin-top {
    margin-top: 34px;
}

.margin-bottom {
    margin-bottom: 13px;
}

.margin-empty {
    margin-bottom: 12px;
}

.input_checkox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.checkBox_span {
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    line-height: 19.2px;
    color: #A8A8A8;
    cursor: default;
}

.Privacy_policy {
    font-family: 'Inter';
    color: #29ABE2;
    font-weight: 400;
    text-decoration: none;
    line-height: 19.2px;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
}

.error-privacy {
    font-size: 14px;
    position: relative;
    top: -35px;
    left: -105px;
}

.input_check {
    background-color: transparent;
    /* Transparenten Hintergrund setzen */
    width: 16px;
    height: 16px;
    color: #2A3647;
    cursor: pointer;
    /* Weitere Stileigenschaften nach Bedarf hinzufügen */
}

.input_check:after {
    background-color: #29ABE2;
}

.sign_upBox {
    display: flex;
    justify-content: center;
}

.signup_button {
    background-color: #2A3647;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 15px 24px;
    font-family: Inter;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    border: none;
    font-family: 'Inter';
}

.signup_button:hover {
    background-color: #29ABE2;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.aLink {
    font-family: Inter;
    font-size: 16px;
    text-decoration: none;
    color: #A8A8A8;
    font-weight: 400
}

/* .aLink:hover {
    color: #29ABE2;
} */

.aPrivacy {
    font-family: Inter;
    font-size: 16px;
    text-decoration: none;
    color: #A8A8A8;
    font-weight: 400
}

.aPrivacy:hover {
    color: #29ABE2;
    font-family: 'Inter';
}

.aLegal {
    font-family: Inter;
    font-size: 16px;
    text-decoration: none;
    color: #A8A8A8;
    font-weight: 400
}

.aLegal:hover {
    color: #29ABE2;
    font-family: 'Inter';
}

.trasparenter_div {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    z-index: 1;
}

.responsiveInfo {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 842px;
    text-align: center;
    left: 65px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    font-family: 'Inter';
    text-align: center;
    line-height: 24px;
    font-weight: 400;
    background-color: #2A3647;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 17px 24px;
    z-index: 4;
}

.responsiveInfo.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(-203px);
    transition: transform 0.5s ease;
}

/* @keyframes trasparenter_div{
        from{
            position: fixed;
            width: 100%;
            height: 100%;
        }to {
            width: 0;
            height: 0;
            opacity: 0;
        }
    }  */

.Sign_UpspeedInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    width: 312px;
    height: 74px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    background-color: #2A3647;
    text-align: center;
    border-radius: 20px;
    color: #FFFFFF;
}

.d-none {
    display: none;
}

.input-error-signup-name {
    font-size: 14px;
    color: red;
    position: relative;
    top: -7px;
}

.input-error-signup-email {
    font-size: 14px;
    color: red;
    position: relative;
    top: -6px;
}

.input-error-signup-pw1 {
    font-size: 14px;
    color: red;
    position: relative;
    top: 4px;
}

.input-error-signup-pw2 {
    font-size: 14px;
    color: red;
    position: relative;
    top: 12px;
}

@media(max-width:390px) {
    body {
        position: fixed;
        left: 0;
        right: 0;

    }

    .join_picture {
        width: 64px;
        height: 78px;
    }

    .image_box {
        margin-top: 30px;
        margin-left: 24px;
        margin-bottom: 25px;
    }

    .title_div h1 {
        font-size: 40px;
        margin-top: -5px;
    }

    .line {
        width: 80px;
    }

    .backLogin_picture {
        margin-left: 45px;
    }

    .main_div {
        position: absolute;
        top: 170.5px;
        left: 15px;
        padding: 32px 0;
        width: 361px;
        height: 498px;
    }

    .second_signUp {
        max-width: 275px;
    }

    .main_signUp {
        display: flex;
        align-items: flex-start;
        margin-bottom: 32px;
        justify-content: start;
        margin: 15px;
    }

    .name_input {
        max-width: 68%;
    }

    .email_input {
        max-width: 68%;
    }

    .password_input {
        max-width: 68%;
    }

    .passwordBlock {
        margin-left: 287px;
        margin-top: -43px;
        cursor: pointer;
    }

    .confirmpassword {
        max-width: 68%;
    }

    .confirmBlock {
        margin-left: 287px;
        margin-top: -36px;
    }

    .input_checkox {
        position: absolute;
        left: 75px;
        top: 430px;
    }

    .sign_upBox {
        position: absolute;
        left: 98px;
        top: 470px;
        font-family: 'Inter';
    }

    .signup_button {
        width: 153px;
        font-family: 'Inter';
    }

    .footer {
        display: flex;
        gap: 27px;
        position: absolute;
        top: 784px;
        left: 87px;
    }
}