@font-face {
    font-family: 'Inter';
    src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

/* If one color is not defined, then insert color purple */
:root {
    --font: rgba(42, 54, 71, 1);
    --red: rgba(255, 129, 144, 1);
    --main-window: rgba(225,229,236,0.25);
    --line: rgba(209, 209, 209, 1);

}

body {
    font-family: 'Inter';
    margin: 0;
    height: 100vh;
}

