@font-face {
    font-family: 'Inter';
    src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

/* If one color is not defined, then insert color purple */
:root {
    --font: rgba(42, 54, 71, 1);
    --red: rgba(255, 129, 144, 1);
    --main-window: rgba(225,229,236,0.25);
    --line: rgba(209, 209, 209, 1);
    --nav: rgba(42,54,71, 1);
    --menubar: rgba(205,205,205);
    --lightblue: #29abe2;
    --darkblue: rgba(42,54,71);
}

.red {
    color: rgba(255, 129, 144, 1);
}

.lightblue {
    color: rgba(41,171,226, 1);
}

.darkblue {
    color: rgba(42, 54, 71, 1);
}

body {
    font-family: 'Inter';
    color: var(--font);
    margin: 0;
    height: 100vh;
}

h2 {
   font-size: 61px!important;
   font-style: normal;
   font-weight: 700!important;
   line-height: 120%; 
   margin: 0;
   padding: 0;
   padding-bottom: 32px;
}

h3 {
    font-size: 27px!important;
    font-style: normal;
    font-weight: 700!important;
    line-height: 120%;
}

h4 {
    font-size: 20px!important;
    font-style: normal;
    font-weight: 700!important;
    line-height: 120%;
}

p {
    font-size: 16px!important;
    font-style: normal;
    font-weight: 400!important;
    line-height: 120%;
}

.main-window {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 328px;
    padding-top: 206px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-window, purple);
}
