.progress_Div {
    width: 168px;
    height: 168px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress_Div:hover {
    background-color: #2A3647;
    transform: scale(1.1);
    transition: transform 0.3s ease;

    .progress_number {
        color: #ffffff;
    }

    .progress_Info {
        color: #ffffff;
    }
}

.progress_Infobox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progress_number {
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 79px;
    color: #000000;
}

.progress_Info {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 24px;
    font-size: 20px;
    color: #2A3647;
    text-align: center;
}

.feedback_div {
    width: 168px;
    height: 168px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback_div:hover {
    background-color: #2A3647;
    transform: scale(1.1);
    transition: transform 0.3s ease;

    .feedback_number {
        color: #ffffff;
    }

    .feedback_title {
        color: #ffffff;
    }
}

.feedback_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feedback_number {
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 79px;
    color: #000000;
}

.feedback_title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 24px;
    font-size: 20px;
    color: #2A3647;
    text-align: center;
}

.profil_name {
    height: 56px;
    position: relative;
    top: 265px;
    left: 640px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.greeting {
    width: 500px;
    font-size: 47px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #2A3647;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 56px;
    cursor: default;
}

.greetingName {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #29ABE2;
    line-height: 76.8px;
    cursor: default;
}

a {
    text-decoration: none;
}

.greetResponsive {
    color: #2A3647;
    font-weight: 400;
    font-size: 36px;
    display: none;
}

.guestsGreeting {
    height: 56px;
    position: absolute;
    top: 213px;
    left: 609px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}