<nav>
    <img src="/assets/img/logo.svg" alt="Join Logo" class="logo">
    <div class="menubar">
        <a href="#"><img src="/assets/img/icons/add-task.svg" alt="Add Task Icon" onclick="renderAddTask()">Add Task</a>
        <a href="#"><img src="/assets/img/icons/board.svg" alt="Board Icon">Board</a>
        <a href="#"><img src="/assets/img/icons/summary.svg" alt="Summary Icon">Summary</a>
        <a href="#"><img src="/assets/img/icons/contacts.svg" alt="Contacts Icon">Contacts</a>
    </div>
    <div class="legalbox">
        <a href="#">Privacy Policy</a>
        <a href="#">Legal notice</a>
    </div>
</nav>
<header>
    <p>Kanban Project Management Tool</p>
    <div class="header-right">
        <a href="#"><img src="/assets/img/icons/help.svg" alt="Help Icon" class="help-icon"></a>
        <a href="#" class="profile-icon">SM</a>
    </div>
</header>