<html>

<body>

    <nav>
        <img src="/assets/img/logo.svg" alt="Join Logo" class="logo">
        <div class="menubar">
            <a href="#" id="summary-page" onclick="forwardToPage('summary')"><img src="/assets/img/icons/summary.svg"
                    alt="Summary Icon">Summary</a>
            <a href="#" id="add-task-page" onclick="forwardToPage('add-task')"><img src="/assets/img/icons/add-task.svg"
                    alt="Add Task Icon">Add Task</a>
            <a href="#" id="board-page" onclick="forwardToPage('board')"><img src="/assets/img/icons/board.svg"
                    alt="Board Icon">Board</a>
            <a href="#" id="contacts-page" onclick="forwardToPage('contacts')"><img src="/assets/img/icons/contacts.svg"
                    alt="Contacts Icon">Contacts</a>
        </div>
        <div class="legalbox">
            <a href="/files/privacy-policy.html">Privacy Policy</a>
            <a href="/files/legal-notice.html">Legal notice</a>
        </div>
    </nav>
    <header>

        <div class="menubar-text">Kanban Project Management Tool</div>
        <div id="userImgHeader" class="header-right">

            <a class="helpa" href="/files/help.html"><img src="/assets/img/icons/help.svg" alt="Help Icon"
                    class="help-icon"></a>

            <a onclick="checks()" href="#" class="profile-icon">
                <div class="profileName"></div>
            </a>


        </div>



    </header>
    <div class="clickInfoDiv">
        <ul>
            <li><a href="/files/legal-notice.html">Legal-notice</a></li>
            <li><a href="/files/privacy-policy.html">Privacy-policy</a> </li>
            <li><a href="/files/logIn.html">Log out</a></li>
        </ul>
    </div>

    <script src="includeHTML.js"></script>


</body>

</html>